.feedback-form {
    width: 408px;
    height: 296px;
    margin: 0 auto;
    padding: 24px;
    background-color: #f1f1f1;
    border-radius: 8px;
}
[name] {
    display: block;
    width: 385px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
[name="message"] {
    resize: none;
}
button {
    display: block;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background-color: #4e75ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6c8cff;
}

button:active {
    background-color: #6c8cff;
}